div.desktop {
  display: inline;
  color: rgb(22, 184, 130);
  padding: 8px 5px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: rgb(36, 61, 131);
}

div.webmobileos {
  display: none;
}

/* Smartphone Portrait and Landscape */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  * {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "Lucida Sans", sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background: rgb(48, 44, 77);
    color: #fff;
  }

  div.desktop {
    display: none;
  }

  div.webmobileos {
    display: inline;
  }

  div.lockscreen {
    text-align: center;
  }

  div.lockscreen h2 {
    padding: 20px;
  }

  div.time {
    margin-top: 100px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    background: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  div.clock-screenlock {
    font-size: 40px;
    color: #fff;
    padding: 10px;
  }

  div.lock {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div.passlock {
    background-color: rgba(2, 2, 2, 0.2);
    backdrop-filter: blur(5px);
    color: #fff;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid blueviolet;
    border-bottom: 1px solid rgb(109, 86, 235);
    /* display: inline-block; */
  }

  input[type="button"],
  button[type="reset"],
  button[type="button"] {
    background-color: rgba(5, 5, 5, 0.5);
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 16px;
    border: 1px solid rgb(109, 86, 235);
    border-bottom: 1px solid blueviolet;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    margin: 8px;
    border-radius: 25%;
  }

  .material-icons {
    font-size: 12px;
    max-width: min-content;
  }

  input[type="button"]:active,
  button[type="reset"]:active,
  button[type="button"]:active {
    background-color: #777;
  }

  input[type="password"] {
    background-color: rgba(4, 4, 4, 0.5);
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 15px;
    border: 1px solid blueviolet;
    border-bottom: 1px solid rgb(109, 86, 235);
    outline: none;
    max-width: fit-content;
    border-radius: 25px;
    margin-top: 100px;
    /* margin-bottom: 5px; */
    margin-left: none;
    margin-right: none;
    left: 0;
    right: 0;
    text-align: center;
    display: inline-block;
    font-size: 14px;
  }

  input::placeholder {
    color: #fff;
  }

  i#openlock {
    color: #fff;
    font-size: 30px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding: 8px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    margin-top: 15%;
    margin-left: none;
    margin-right: none;
    left: 0;
    right: 0;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    color: darkorange;
  }

  .tooltip .tooltiptext {
    cursor: text;
    visibility: hidden;
    width: 120px;
    background-color: rgba(253, 180, 44, 0.205);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  div.home {
    display: none;
    font-size: 16px;
    color: lightblue;
    padding: 10px;
    background: none;
  }

  .alert {
    padding: 20px;
    background-color: #532c08ef;
    color: rgb(240, 195, 195);
    position: absolute;
    top: 0;
    right: 0;
    margin: 10%;
    border-radius: 10px;
    border: 1px solid rgb(228, 158, 28);
    z-index: 4;
  }

  .closebtn {
    margin-left: 15px;
    color: rgb(252, 102, 102);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: rgb(207, 3, 3);
  }

  div.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }

  div.bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  }

  div.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    min-width: 50%;
    min-height: 3%;
    background-color: #ffffffe7;
    backdrop-filter: blur(5px);
    font-size: 14px;
    padding: 5px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  div.clock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #451a8a;
  }

  div.name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #451a8a;
  }

  div.drag-notification .material-icons {
    position: fixed;
    top: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #451a8a;
    font-size: 30px;
    cursor: pointer;
  }

  div.notification {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    background-color: #ffffffde;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    z-index: 3;
  }

  div.notification hr {
    margin: auto;
  }

  div.notification p {
    font-size: 12px;
    color: #451a8a;
    padding: 5px;
    text-align: left;
    font-weight: normal;
  }

  div.search {
    margin-top: 25px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  div.app-tray {
    border-top: 2px solid #48a1e9;
    position: fixed;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
  }

  div.app-tray img {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 1px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
  }

  div.container {
    text-align: right;
  }

  div.container div.apps {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;

    width: fit-content;
    height: 200px;
    background-color: #2196f3;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 50px;
    color: aliceblue;
    background-color: #ffffffde;
    border-radius: 20px;
    backdrop-filter: blur(5px);
  }

  div.container div.apps div.app:hover {
    background-color: #ffffff;
    color: #2196f3;
  }

  div.container div.apps div.app {
    width: auto;
    height: fit-content;
    margin: 5px;
    margin-top: 20px;
    /* background-color: #f87777d8; */
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
  }

  div.container div.apps div.app a {
    text-decoration: none;
    text-align: center;
  }

  div.container div.apps div.app a img {
    height: 30px;
    width: 30px;
    margin: auto;
    backdrop-filter: blur(5px);
    border-radius: 10px; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 10px; /* Safari 5.1+, iOS 3.2+, Android 4.0+, Chrome 23+, Firefox 4+, IE 9+, Opera 10.5+ */
    
  }

  div.container div.apps div.app a p {
    color: #451a8a;
    font-size: 14px;
    font-weight: normal;
  }
}
